/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


a {
  color: blue;
}

#logo {
  max-width: 80px;
}

header {
  display: flex;
  flex-direction: column;
  padding: 11px;
  align-items: center;
  border-bottom: solid 12.5px blue;
  align-self: center;
  width: 100%;
  background: white;
}


/* ***BELOW*** HERO SECTION, HELLO WORLD ***BELOW*** */

.hello_world {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.hello_world div p {
  padding: 5px;
}

.hello_world div:first-child {
  display: flex;
  font-size: 40px;
}


/* SELECTOR FOR EMOJIES BELOW */
#emojis {
  font-size: 20vw;
  padding: 25px;
}

#emojis div {
  display: flex;
  justify-content: center;
}

/* ***BELOW*** IMAGE AND INTRO ***BELOW*** */



.selfie_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.selfie_intro div:first-child {
  font-size: 25px;
}

.selfie_intro div:nth-of-type(2) p {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: rgb(112, 112, 112);
}

#full_stack_developer {
  color: rgb(255, 222, 52);
  background: black;
  justify-content: center;
}

#rodolfo {
  color: white;
  background: black;
}


/* SELFIE IMAGE */

#selfie {
  width: 25%;
  height: auto;
  padding: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;


}


/* ***BELOW*** PROJECTS ***BELOW*** */

.projects {
  background: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#portfolio {
  display: flex;
  padding: 15px 20px 30px 20px;
}

#portfolio section article {
  border: solid 5px white;

}



/* ABOUT SECTION */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about div {
  display: flex;
}

.about div figure img {
  max-width: 100px;
  max-height: auto;
}




/* ***BELOW*** FOOTER ***BELOW*** */
footer {
  color: white;
  border-top: solid 10px rgb(255, 0, 0);
  background: black;
  display: flex;
  align-items: center;
  flex-direction: column;


}



/* PROFILE -TABLET/DESKTOP MIN 750PX  */
@media (min-width: 750px) {

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 12.5px red;
    width: 100%;
    background: white;
    padding: 10px 50px 10px 50px;
  }

  #logo {
    max-width: 150px;
  }


  .hello_world div:nth-of-type(2) {
    font-size: 34px;
  }

  footer {
    background: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    border-top: solid 10px blue;
  }

}